{{#type=object}}I{{key:pascalCase}}{{/type=object}}{{#type!=object}}{{#enum.0}}{{#enum:map}}'{{{_data._value}}}' | {{/enum:map}} '{{{enum.0}}}' {{/enum.0}}{{^enum.0}}{{#type=integer}}number{{/type=integer}}{{#type!=integer}}{{#format=binary}} string | Buffer {{/format=binary}}{{#format!=binary}}{{type}}{{/format!=binary}}{{^format}}{{type}}{{/format}}{{/type!=integer}}{{/enum.0}}{{#schema:map}}{{#_key=nullable}} | null{{/_key=nullable}}{{/schema:map}}{{#_value:map}}{{#_key=nullable}} | null{{/_key=nullable}}{{/_value:map}}{{/type!=object}}